<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <title>訂起來記帳版</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="assets/demo/demo.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="main-panel" style="width: 100%!important">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:;">訂起來記帳版</a>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <template v-for="(item, index) in collect">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div :class="'card-header ' + item.theme + ' card-header-icon'">
                                <div class="card-icon">
                                    <i class="material-icons">{{ item.iconsHeader }}</i>
                                </div>
                                <p class="card-category">{{ item.name }}</p>
                                <h3 class="card-title">
                                    <template v-if="'Arashi' === item.name">
                                        <span class="material-icons">music_note</span>
                                    </template>
                                    <template v-else>
                                    NT$ {{ _(item.lists)
                                    .map()
                                    .flatten()
                                    .sumBy(({ type, amount }) => type === 'expense' ? -amount : amount) }}
                                    </template>
                                </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">{{ item.iconsFooter }}</i> <a href="#" @click="selectItem = item.name">show more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </template>
                </div>
                <div class="row">
                    <template v-for="(item, index) in collect">
                    <div v-if="item.name == selectItem" class="col-md-12">
                        <div class="card">
                            <div :class="'card-header ' + item.theme">
                                <h4 class="card-title">{{ item.name }}</h4>
                                <p class="card-category">{{ item.subtitle }}</p>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <th>日期</th>
                                        <th>品項</th>
                                        <th class="text-right">金額</th>
                                    </thead>
                                    <tbody>
                                    <template v-for="(list, date) in item.lists">
                                        <template v-for="(detail, no) in list">
                                            <tr>
                                                <td><template v-if="0 === no">{{ date }}</template></td>
                                                <td class="td-name">
                                                    <h4 style="color: #0d47a1">{{ detail.subject }}</h4>
                                                    <br>
                                                    <small>by {{ detail.company }}</small>
                                                </td>
                                                <td class="td-number text-right"><p :class="('expense' === detail.type) ? 'text-danger' : 'text-info'">{{ detail.amount }}</p></td>
                                            </tr>
                                        </template>
                                    </template>
                                    <tr>
                                        <td colspan="2" class="td-total">結餘</td>
                                        <td class="td-price"><small>NT$</small>{{ _(item.lists)
                                            .map()
                                            .flatten()
                                            .sumBy(({ type, amount }) => type === 'expense' ? -amount : amount) }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </template>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    , made with <i class="material-icons">favorite </i> by
                    Arashi.
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/core/jquery.min.js"></script>
    <script src="assets/js/core/popper.min.js"></script>
    <script src="assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="assets/js/charge.js?ver=20200410"></script>
</body>
